@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Rubik'; */
}

p,
ul,
li,
div,
small,
label,
input {
  /* font-family: 'DM Sans'; */
}

[style*='-aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='-aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='-aspect-ratio'] {
    position: relative;
  }
  [style*='-aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='-aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.react-datepicker,
.react-datepicker * {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

@keyframes scale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.react-datepicker {
  animation: scale ease-out 0.1s;
}

.react-datepicker {
  padding: 15px !important;
  border-radius: 3px !important;
  background: #ffffff !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px -2px,
    rgba(0, 0, 0, 0.06) 0px 1px 16px -4px !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  background: white !important;
  border: none !important;
  padding: 0 !important;
}

.react-datepicker__current-month {
  font-size: 16px !important;
  padding: 12px 0 !important;
}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__week {
  margin: 2px 0 !important;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__navigation {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  font-size: 17px !important;
  color: #2c2f3b !important;
  border-radius: 3px !important;
  width: 40px !important;
  height: 40px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  margin: 0 !important;
}

.react-datepicker__day:hover,
.react-datepicker__navigation:hover {
  background: #eaedf1 !important;
}

.react-datepicker__navigation {
  top: 17px !important;
  text-indent: initial !important;
}

.react-datepicker__navigation--next {
  right: 15px !important;
  color: transparent !important;
}

.react-datepicker__navigation--next::after {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 7px solid transparent;
  border-left: 7px solid #2c2f3b;
  content: '';
  right: calc(50% - 13px);
}

.react-datepicker__navigation--previous {
  left: 15px !important;
  color: transparent !important;
}

.react-datepicker__navigation--previous::after {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  border: 7px solid transparent;
  border-right: 7px solid #2c2f3b;
  content: '';
  left: calc(50% - 13px);
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background: #3676ea !important;
  color: white !important;
  font-weight: normal !important;
}

.react-datepicker__day--outside-month,
.react-datepicker__day-name {
  opacity: 0.5 !important;
  color: black !important;
}

.calendarContainer .heading {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

.prev {
  position: absolute;
  right: 0 !important;
  top: 0 !important;
}

.next {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
}

.prev,
.next,
.dayWrapper,
.calendarContainer .title,
.calendarContainer button,
.rc-time-picker {
  border: none !important;
  transition: 0.1s;
}

.prev:hover,
.next:hover,
.calendarContainer .title:hover,
.calendarContainer button:hover,
.rc-time-picker:hover {
  background: #eaedf1 !important;
}

.dayWrapper:hover {
  background: #eaedf1 !important;
}

.calendarContainer .daysOfWeek div {
  color: #4b4f6190;
}

.prev:active,
.next:active,
.dayWrapper:active,
.calendarContainer .title:active,
.dayWrapper.selected,
.selected button,
.calendarContainer .selected button {
  background: #3676ea !important;
  color: white !important;
}

.calendarContainer .title {
  height: 42px !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.calendarContainer .rc-time-picker,
.calendarContainer .rc-time-picker input {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #4b4f61bb !important;
}

.rc-time-picker-panel {
  border-radius: 3px !important;
  background: #ffffff !important;
  padding: 8px 0 !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}

.rc-time-picker-panel-inner {
  box-shadow: none !important;
  border: none !important;
  margin: none !important;
  padding: none !important;
}

.tether-target {
  width: fit-content !important;
}
